.banner {
  color: #fff;
  object-fit: contain;
  height: 500px;
}

.banner__contents {
  padding: 30px 500px 20% 50px;
  margin-bottom: 30px;
  line-height: 1.3;
}
.banner__contents-title {
  margin-top: 10%;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 0;
  margin-bottom: 14px;
}
.banner__buttons {
  display: flex;
  gap: 30px;
}
.banner__button {
  width: 118px;
  height: 39px;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
}
.banner__button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.first-btn {
}
.second-btn {
  width: 180px;
}
.banner__button:hover {
  background-color: #000;
  color: #fff;
}
.banner__description {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-film__featured {
  width: 100vw;
  z-index: 0;
  position: relative;
}

.main-film__btn {
  display: flex;
  justify-content: space-between;
  width: 322px;
  position: absolute;
  bottom: 80px;
  left: 52px;
}
.btn-play {
  background-color: #fff;
  width: 117px;
  height: 40px;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  z-index: 1;
  border-radius: 5px;
}
.btn-info {
  background-color: #63605d;
  width: 200px;
  height: 43px;
  cursor: pointer;
  z-index: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5px;
  align-items: center;
}
.main-film__featured__intro {
  color: white;
  position: absolute;
  left: 48px;
  top: 166px;
  max-width: 430px;
}
.main-film__featured__intro h1 {
  font-family: 'Young Serif';
  font-weight: 400;
  font-size: 40px;
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }

  .banner__contents {
    padding: 20px 20px 30px 20px;
  }

  .banner__contents-title {
    margin-top: 100px;
    font-size: 2rem;
  }

  .banner__description {
    font-size: 1rem;
  }

  .banner__button {
    width: 100px;
    height: 30px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 200px;
  }

  .banner__contents {
    padding: 5px 10px 20px 10px;
  }

  .banner__contents-title {
    margin-top: 20px;
    font-size: 2.5rem;
  }

  .banner__description {
    font-size: 0.96rem;
  }

  .banner__button {
    width: 80px;
    height: 25px;
    font-size: 0.98rem;
  }
}
