.app {
  height: 100vh;
}

.movies-rows-container {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.movies-rows-container::-webkit-scrollbar-track {
  background: transparent;
}

.movies-rows-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .movies-rows-container {
    height: calc(100vh - 60px); /* Adjust based on your header height */
    padding-bottom: 20px;
  }
}
