* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 180px;
  margin: 0 30px;
}
.active {
  font-weight: bold;
}
.header {
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
}
.header-icon {
  font-size: 1.2em;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navbar-scrolled {
  background-color: black;
}
.header__navbar-list {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0 5px 0;
  display: flex;
  margin-left: 100px;
}
.header__navbar-list-right {
  display: flex;
  gap: 1rem;
  margin-right: 45px;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item:nth-child(2) {
  font-weight: bold;
}
.header__navbar-item a {
  color: white; /* Sets the text color to white */
  text-decoration: none;
  transition: color 0.3s ease;
}
.header__navbar-item a:hover {
  color: #ccc; /* Sets the text color to white */
}
.header__navbar-user-img {
  width: 37px;
  height: 36px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-arrow-down {
  content: '';
  border: 5px solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: 39px;
  top: 19px;
}
.header__navbar-user-menu {
  background: #000;
  position: absolute;
  z-index: 1;
  width: 259px;
  height: 280px;
  display: flex;
  top: 156%;
  right: 0;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
  padding: 10px;
  display: none;
}
.header__navbar-user:hover .header__navbar-user-menu {
  display: flex;
}

.header__navbar-user-menu::before {
  content: '';
  border: 7px solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 12px;
  top: -15px;
}

.header__navbar-user-menu::after {
  content: '';
  position: absolute;
  right: 6px;
  top: -18px;
  display: block;
  width: 120px;
  height: 45px;
}

.header__navbar-user-menu-item {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  width: 100%;

  padding: 9px 9px;
  display: block;
}

.header__navbar-user-menu-item:hover {
  text-decoration: underline;
}
.header__navbar-user-menu-item i {
  margin-right: 10px;
}

.header__navbar-user-menu-item-logout {
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.header__navbar-searchbox {
  width: 50px;

  height: 34px;
  transition: all 0.5s ease;
  position: relative;

  background-color: #000;
  color: #fff;
  border: none;
}
.header__navbar-item--delete {
  position: absolute;
  left: 10px;
  display: none;
}
.header__navbar-searchbox.open {
  width: 274px;
  border: 1px solid #fff;
}
.header__navbar-searchbox.open .header__navbar-item--delete {
  display: block;
}

.header__navbar-item--has-search {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}

.header__navbar-search-input {
  position: absolute;
  right: 40px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  height: 25px;
}

.header__notify {
  position: absolute;
  top: 53px;
  right: 0;
  width: 404px;
  height: 400px;
  cursor: default;
  background: var(--black-color);
  transform-origin: 90% top;
  animation: headerNotifyGrowth 0.3s ease-out;
  will-change: opacity, transform;
  z-index: 99;
  border: 1px solid #ccc;
  border-top: 5px solid #ccc;
  display: none;
  overflow: scroll;
}

.header__notify::before {
  content: '';
  border: 10px solid;
  border-color: transparent transparent #ccc transparent;
  position: absolute;
  right: 0px;
  top: -25px;
  width: 1px;
}
.header__notify-list {
  padding: 0;
}
.header__notify-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 25px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__notify-img {
  width: 12.5rem;
  height: 7.6rem;
  object-fit: cover;
  border: 1px solid #fff;
}

.header__notify-link {
  display: flex;
}
.header__notify-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.header__notify-name {
  font-weight: 400;
}
.header__notify-description {
  font-weight: 400;
}
.header__notify-time {
  font-weight: 400;
  color: #ccc;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover .header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
