* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/d1532433-07b1-4e39-a920-0f08b81a489e/9dcffac0-8f0c-457b-92ee-6402c28f7a78/VN-en-20231120-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  position: relative;
}
.logo {
  color: red;
  fill: currentColor;
  width: 9.25rem;
  height: 2.5rem;
  position: fixed;
  left: 0;
  padding-left: 20px;
}

.ant-spin-nested-loading {
  width: 100%;
  height: 100%;

  .ant-spin-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
  }
}

.page-gradient {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
/* .header {
  height: 20%;
  padding: 20px 10px;
  width: 100%;
} */
.header-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header-content {
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    display: flex;
    margin-top: 40px;
  }
}
.header-right select {
  width: 147px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 1.5rem;
}
.header-right select:hover {
  cursor: pointer;
}
.header-right select option:hover {
  cursor: pointer;
}
.header-right-button {
  background-color: red;
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
}
.header-right button:hover {
  cursor: pointer;
}
.main {
  position: absolute;
  top: 30%;
  z-index: 1;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
/* .main-content {
  height: 600px;
  width: 600px;
} */
.main-title > h1 {
  color: #ffffff;
  font-size: 5rem;
  width: 82%;
  line-height: 40px;
  margin-left: 40px;
  margin: 0 auto;
}

.main-title h1 > span {
  position: relative;
  left: 40%;
  top: 10px;
}
.main-subtitle {
  margin-top: 30px;
  font-size: 2rem;
}
form {
  margin-top: 15px;
}
form > input {
  background-color: #000;
  color: #fff;
  height: 54px;
  width: 378px;
  margin-right: 10px;
  border: 1px solid #ccc;
}
form > button {
  height: 61px;
  background-color: red;
  color: #fff;
  width: 206px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}
form > button:hover {
  cursor: pointer;
}
